.tab-header {
    margin: 10px;
    padding-bottom: 1px;
}

.tab-header :hover {
    cursor: pointer;
    text-decoration: none;
}

.tab-header-button {
    background-color: #E4E1E4;
    margin-right: 3px;
    padding: 10px;

    font-size: 0.8rem;
    font-weight: 700;
    stroke: none;

    border-bottom: #E4E1E4 2px solid;
}

.header-app-title {
    color: blue;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-app-version {
    color: blue;
    font-size: 0.8rem;
    font-weight: 500;
}

.active {
    border-bottom: lightblue 2px solid;
}

a, a:visited, a:hover, a:active {
    color: black !important;
    cursor: pointer  !important;
    text-decoration: none;
}

.float-right {
    float: right;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .tab-header-button {
        font-size: 0.6rem;
        padding: 4px;
    }
    .header-app-title {
        color: blue;
        font-size: 0.8rem;
        font-weight: 700;
    }
    
    .header-app-version {
        color: blue;
        font-size: 0.6rem;
        font-weight: 500;
    }

    .Dropdown-root {
        width: 100%;
    }
}